header{
  font-family: cursive;
  text-align: center;
  font-size: 36px;
  color: white;
}
html{
  height:100%;
  background-image:linear-gradient(#0017FF, #0078FF, #B3FFFF );
  background-repeat: no-repeat;
}

.content {
  display:flex;
}
.left{
  float:left;
  display:block;
  margin-left: 20%;
  margin-right: 2.5%;
  height: 450px;
}

.right{
  float: left;
  display: block;
  margin: auto;
  margin-right: 20%;
  border: 1px solid black;
  height: 450px;

}
